body{
    background-image: radial-gradient( rgba(255,255,255,1) 0%, rgb(163, 247, 248) 90% );
}

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title {
    font-size:40px;
    line-height: 100px;
    margin:25px 0px;
    text-align: center;
}

.to-do{
    margin: 25px 0px;
}
.td-input , 
.display-td {
    display: grid;
    grid-template-columns: 70% 15% 10%;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input
{
    font-size: 20px;
    padding: 10px;
}
.name-display,
.due-date-display
{
   font-size:20px;
   text-indent: 3px;
   padding: 10px;
}

.add-td-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.delete-td-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
